@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

.dark {
  --bg: 2 6 23;
  --fg: 226 232 240;
}

html, body, :root {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

.glass {
  @apply bg-white/60 dark:bg-slate-900/40 backdrop-blur supports-[backdrop-filter]:bg-white/60 supports-[backdrop-filter]:dark:bg-slate-900/40;
}


